@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Marck+Script&family=Noto+Naskh+Arabic:wght@400..700&family=Pixelify+Sans:wght@400..700&family=Playpen+Sans+Arabic:wght@100..800&family=Playwrite+DE+SAS:wght@100..400&family=Share+Tech+Mono&family=Silkscreen:wght@400;700&family=VT323&display=swap");


body {
    background-color: black;
    font-family: 'Pixelify Sans';
    color:white;
}

.icon {
    position: fixed;
    height: 4vh;
    width: 4vh;
    z-index: 1;
    border: 1px solid white;
    color:White;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon:hover {
    border:2px solid white;
    cursor: pointer;
}

/* HOME BUTTON */
.home { 
    padding: 0px;
    background-color: transparent;
    border: none;
    height: 30px;
    width: 30px;
    position: flex;
    justify-content: center;
    align-items: center;
}


.svg { 
    margin: 0;
    color:white;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid white;
}
.svg:hover { 
    border: 2px solid white;
    cursor: pointer;
}

.homeDisp {
    display:none;
    position: fixed;
    z-index:3;
    border:2px solid white;
    background-color: black;
    height:30vh;
    width:30vw;
    border-radius: 10px;
    animation-name: home;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    overflow: hidden;
    
    
}

.rs { 
    margin: 10px;
    padding: 5px;
    height: 30px;
    position: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: 2px solid red;
    color: white;
    font-family: 'Pixelify Sans';
    border-radius: 10px;
}

.rs:hover { 
    cursor:pointer;
    border:2px solid darkred;
    color: red;
}

.mute { 
    margin: 10px;
    padding: 5px;
    height: 30px;
    position: flex;
    justify-content: center;
    background-color: black;
    color: white;
    border: 2px solid red;
    border-radius: 10px;
    font-family: 'Pixelify Sans';
}
.mute:hover { 
    cursor: pointer;
    color: red;
    border: 2px solid darkred;
}

.backToHome { 
    width:90%;
    border:2px solid white;
    background-color: #010157;
    color:white;
    border-radius: 10px;
    display:flex;
    justify-content: center;
    font-family: 'Pixelify Sans';
    position: absolute;
    left:50%;
    bottom:10px;
    transform: translate(-50%,0);
    

}


.backToHome:hover {
    cursor:pointer;
    background-color: black;
    color:Red;
    border: 2px solid darkred;
}
.cancel {
    margin:10px;
    padding:2px;
    justify-self: right;
    height:20px;
    width:20px;
    font-family: 'Pixelify Sans';
    background-color: red;
    color:white;
    border:2px solid white;
    border-radius: 5px;
    display:flex;
    justify-content: center;
}
.cancel:hover {
    cursor:pointer;
    background-color: black;
    color:red;
}

@keyframes home {
    0%{
        height:0px;
        width:0px
    }

    100% { 
        height:30vh;
        width:30vw;
    }
    
}
.cont {
    height: 90vh;
    width: 90vw;
    background-color: #010157;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 2%;
    overflow: hidden;
}

.player {
    background-color: transparent;
    position: absolute;
    transform: translate(-50%,0%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0px;
    animation-name: gameStart;
    animation-duration: 5s;
    animation-play-state: running;
    animation-fill-mode: forwards;

}

@keyframes gameStart {
    0%{left: -10vw;
    bottom:50%}
    100%{left: 50%;
    bottom: 50%;}    
}

@keyframes backToBottom {
    0% {left:50%;
        bottom:50%;
    }
    100%{ 
        left:50%;
        bottom:0px;
    }    
}

.player2 { 
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color:transparent;
    position: absolute;
    transform: translate(-50%,-50%);
    animation-name: p2;
    animation-duration: 8s;
    animation-play-state: running;
    animation-fill-mode: forwards;
    z-index:0;
}

@keyframes p2 {
    0% { 
        left:-10vw;
        bottom: 50%;
    }
    100%{
        left: 40%;
        bottom: 50%;
    }
    
}

@keyframes cp2 {
    0% {
        left: 40%;
        bottom: 50%;
    }
    100% { 
        left:120vw;
        bottom:50%;
    }
    
}

.diag {
    background-color: black;
    border: 1px solid white;
    padding: 10px;
    margin: 0px;
    border-radius: 10px;
    font-size: 2vh;
    display: none;
    position: absolute; 
    bottom: 0px;
    left: 50%;
    transform: translate(-50%,0%);
}

.space { 
    font-size: 10px;
    justify-self: right;
}


.mcLee {
    height: 80px;
    width: 80px;

}



.trash {
    height: 40px;
    width: 40px;
    background-color: transparent;
    position: absolute;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.bubble {
    height:10px;
    width:10px;
    border:1px solid white;
    border-radius: 50%;
    position: absolute;
    animation: 30s bubbles linear 0s infinite;
    bottom: 0px;
    z-index: 0;
}

@keyframes bubbles { 100% {bottom: 120vh;}}

.timer { 
    position: fixed;

    color: white;
    font-size: 20px;
    margin: 10px;
}

#grapple {
    background-color: rgb(52, 48, 48);
    color: white;
    border-right: 10px solid white;
    height: 4px;
    display: none;
    transform-origin: left center;
    position: fixed;
}

.score {
    color: white;
    position: fixed;
    margin:10px;
    top: 5px;
    right:10px;
    font-family: 'Pixelify Sans',monospace;
    z-index: 1;
}

/* RESTART DIV */
.restart {
    z-index: 1;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    height:50vh;
    width: 60vh;
    padding: 20px;
    background-color: black;
    display:none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius:5px;
    border:2px solid white;
}

.rBtn {
    height:30px;
    width: 80%;
    margin:20px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:5px;
    font-family: 'Pixelify Sans';
}
.rBtn:hover {
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    border: 2px solid red;
    border-radius:5px;
    color:red;
}

.message {
    color:White;
}

.emj { 
    font-size: 30px;
    background-color: transparent;
}

/* BACKGROUND ELEMENTS:  */
.Ground { 
    height:15vh;
    width:5rem;
    position: absolute;
    bottom: -25px;
    padding: 0;
    margin:0;
}

.gr1{ 
    left: 10vw;
}
.gr2{ 
    left: 30vw;
}

.gr3{ 
    left: 60vw;
}
.gr4 { 
    left:80vw;
}


.rg1 { 
    left:20vw;
}
.rg1 { 
    left:70vw;
}

.yg1 { 
    left:20vw;
}

.pg1 { 
    left: 75vw;
}
.pg2 { 
    left: 50vw;
}

/* FISHES */
.fishes { 
    display: none;
    z-index: 2;
}

.orFish {
    display: block;
    position: absolute;
    top: 200px;
    height: 60px;
    left: -10vw;
    animation-name: LRfishes;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

.OBfish { 
    display: block;
    position: absolute;
    top: 300px;
    right: -10vw;
    height: 60px;
    animation-name: RLfishes;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-delay: 5s;
}

.fishes:hover { 
    cursor: pointer;
}

@keyframes LRfishes {
    0%{left: -10vw;}
    100% {left: 100vw;}

    
}

@keyframes RLfishes {
    0%{right: -10vw;}
    100% {right: 100vw;}

    
}

.starFish {
    display: block;
    position: absolute; 
    left: -10vw;
    top: 15vh;
    height: 40px;
    animation-name: LRfishes, stFish;
    animation-duration: 30s;
    animation-delay: 10s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes stFish {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
    
}

.bf1 { 
    display: block;
    height: 40px;
    top: 50vh;
    position: absolute;
    left:-10vw;
    animation-name: LRfishes;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    
}


