@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Marck+Script&family=Noto+Naskh+Arabic:wght@400..700&family=Pixelify+Sans:wght@400..700&family=Playpen+Sans+Arabic:wght@100..800&family=Playwrite+DE+SAS:wght@100..400&family=Share+Tech+Mono&family=Silkscreen:wght@400;700&family=VT323&display=swap");

* {
  font-family: "Pixelify Sans";
}


body {
  background-image: url("../images/Homepage.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 92vw;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
  height: 20vh;
  width: 100vw;
}

.Title {
  color: rgb(0, 4, 213);
  font-family: "Pixelify Sans";
  font-size: 40px;
  font-weight: 600;
}
.Title:hover { 
  font-weight: lighter;
  text-decoration:underline;
}

.btnCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100vw;
}

.but {
  background-color: rgb(79, 79, 196);
  height: 40px;
  width: 200px;
  border-radius: 10px;
  border: 2px solid black;
  margin: 20px;
}
.but:hover {
  border: 2px solid darkblue;
  cursor: pointer;
  background-color: black;
  color: white;
  font-weight: bold;
}


@keyframes but {
  0%{
    
  }
  
}

/* PLAY GAME BUTTON */
.levels {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  animation-name: levels;
  animation-fill-mode: forwards;
  animation-play-state: paused;
  animation-duration: 2s;
}

@keyframes levels {
    0%{height:0vh;
    width:0vh}
    20%{height:10vh;}
    100%{height:80vh;
    width:60vw;}
    
}

.lvl {
  height: 5vh;
  width: 40vw;
  border: 2px solid darkred;
  border-radius: 5px;
  position: sticky;
}
.lvl:hover {
  background-color: rgb(0, 0, 0);
  cursor: pointer;
  color: rgb(205, 3, 3);
}

.wcg-img { 
  height: 100px;
  width: 200px;
  margin: 20px;
  border: 2px solid white;
  display: block;
  position: sticky;
}


.ch1,.ch2,.infMode { 
  height:30vh;
  width:auto;
  border-radius: 10px;

}

.cancel {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: red;
  border: 2px solid white;
  border-radius: 5px;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
}

.cancel:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

/* BLOCKS */
.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.instructions {
  color: white;
}

/* SETTINGS DIV */
.settingsDiv {
  height: 50vh;
  width: 60vw;
  padding:10px;
  background-color: black;
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  border:2px solid white;
  border-radius: 10px;
  display: none;
  flex-direction: column;
  overflow: auto;

}
.mute { 
   margin: 20px;
   border-radius: 5px;
}
.mute:hover { 
  cursor:pointer;
  background-color: black;
  border:2px solid red;
  color:red;
}

.statText {
  color:White;
  text-decoration: underline;
  
}

.stat {
  color:white;
}

.resetStat {
  border-radius: 5px;
  border: 2px solid darkred;  
}
.resetStat:hover {
  cursor:pointer;
  background-color: black;
  color: red;
}

