@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Marck+Script&family=Noto+Naskh+Arabic:wght@400..700&family=Pixelify+Sans:wght@400..700&family=Playpen+Sans+Arabic:wght@100..800&family=Playwrite+DE+SAS:wght@100..400&family=Share+Tech+Mono&family=Silkscreen:wght@400;700&family=VT323&display=swap");

* {
  font-family: "Pixelify Sans";
}


body {
  background-image: url("../images/Homepage.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 92vw;
  margin: 0;
  padding: 0;
}

.startDiv {
  position: fixed;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-self: center;
  padding:10px;
  align-items: center;
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  z-index:2;
  
}

.startyap {
  text-align: center;
  font-family: monospace;
}

.startGame {
  border-radius: 5px;

}
.startGame:hover { 
  background-color: black;
  border:2px solid red;
  color:red;
  cursor:pointer;
}

header {
  display: flex;
  justify-content: center;
  height: 20vh;
  width: 100vw;
}

.Title {
  color: rgb(0, 4, 213);
  font-family: "Pixelify Sans";
  font-size: 40px;
  font-weight: 600;
}
.Title:hover { 
  font-weight: lighter;
  text-decoration:underline;
}

.btnCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100vw;
}

.but {
  background-color: rgb(79, 79, 196);
  height: 40px;
  width: 200px;
  border-radius: 10px;
  border: 2px solid black;
  margin: 20px;
  animation: float 3s ease-in-out infinite;
}
.but:hover {
  border: 2px solid darkblue;
  cursor: pointer;
  background-color: black;
  color: white;
  font-weight: bold;
}


@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-4px); }
  100% { transform: translateY(0); }
}

/* PLAY GAME BUTTON */
.levels {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  animation-name: levels;
  animation-fill-mode: forwards;
  animation-play-state: paused;
  animation-duration: 2s;

  scrollbar-width: none;
}

@keyframes levels {
    0%{height:0vh;
    width:0vh}
    20%{height:10vh;}
    100%{height:80vh;
    width:60vw;}
    
}

.lvl {
  height: 5vh;
  width: 40vw;
  border: 2px solid darkred;
  border-radius: 5px;
  position: sticky;
}
.lvl:hover {
  background-color: rgb(0, 0, 0);
  cursor: pointer;
  color: rgb(205, 3, 3);
}

.wcg-img { 
  height: 100px;
  width: 200px;
  margin: 20px;
  border: 2px solid white;
  display: block;
  position: sticky;
}


.ch1,.ch2,.infMode { 
  height:30vh;
  width:auto;
  border-radius: 10px;

}

.cancel {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: red;
  border: 2px solid white;
  border-radius: 5px;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
}

.cancel:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

/* BLOCKS */
.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.instructions {
  color: white;
}

/* SETTINGS DIV */
.settingsDiv {
  height: 50vh;
  width: 60vw;
  padding:10px;
  background-color: black;
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  border:2px solid white;
  border-radius: 10px;
  display: none;
  flex-direction: column;
  overflow: auto;
  animation-name: circ;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  scrollbar-width: none;

}

@keyframes circ {
  0%{
    height: 0vh;
  }
  100% {
    height: 50vh;
  }
  
}
.mute { 
  margin: 20px;
  border-radius: 5px;
}
.mute:hover { 
  cursor:pointer;
  background-color: black;
  border:2px solid red;
  color:red;
}

.statText {
  color:White;
  text-decoration: underline;
  
}

.stat {
  color:white;
}

.resetStat {
  border-radius: 5px;
  border: 2px solid darkred;  
}
.resetStat:hover {
  cursor:pointer;
  background-color: black;
  color: red;
}


.cont { 
  position: fixed;
  top: 0%;
  left:50%;
  transform: translate(-50%,0%);
  height: 80vh;
  width:99vw;
  overflow: hidden;

}

.starFish {
  background: url('../images/starFish.gif');
  position: absolute; 
  height: 20px;
  width: 20px;
  animation-name: LRfish;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  left: -15vh;
  animation-iteration-count: 1;

}



.starFish:hover, .blueFish:hover {
  cursor: pointer;
  background-color: green;
}

.blueFish {
  background: url(../images/blueFish.gif);
  position: absolute; 
  height: 20px;
  width: 20px;
  animation-name: RLfish;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  left: -15vh;

}

@keyframes LRfish {
  0% { 
    left: -10vw;
    transform: rotate(0deg);
  }
  100% { 
    left: 110vw;
    transform: rotate(360deg);
  }
}
@keyframes RLfish {
  0% { 
    left: 110vw;
    transform: rotate(0deg);
  }
  100% { 
    left: -10vw;
    transform: rotate(360deg);
  }
}

/* UPPER RIGHT ACHIEVEMENT TEXT */
.star {
  height:20px;
  width: 20px;
  color: rgb(0, 0, 0);
}
.starSc {
  position: fixed;
  top:0px;
  right: 20px;
  color:black;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width:900px) {
  .Title {
    position: absolute;
    top: 50px;
    font-size: 35px;


  }


  @keyframes levels {
    0%{height:0vh;
    width:0vh}
    20%{height:10vh;}
    100%{height:80vh;
    width:90vw;}
    
}
  .startDiv {
    width: 80vw;
    font-size: 2vw;
    
  }
  .ch1 {
    height: 20vh;
    width: 80vw;
  }

  .lvl { 
    height: 4vh;
    width: 20vw;
  }
  
}