@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Marck+Script&family=Noto+Naskh+Arabic:wght@400..700&family=Pixelify+Sans:wght@400..700&family=Playpen+Sans+Arabic:wght@100..800&family=Playwrite+DE+SAS:wght@100..400&family=Share+Tech+Mono&family=Silkscreen:wght@400;700&family=VT323&display=swap");


body {
    background-color: black;
    font-family: 'Pixelify Sans';
    color:white;
}

.icon {
    position: fixed;
    height: 4vh;
    width: 4vh;
    z-index: 1;
    border: 1px solid white;
    color:White;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon:hover {
    border:2px solid white;
    cursor: pointer;
}

.cont {
    height: 90vh;
    width: 90vw;
    background-color: #010157;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 2%;
}

.player {
    border:2px solid white;
    background-color: transparent;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin:0px;
    animation-name: gameStart;
    animation-duration: 5s;
    animation-play-state: running;
    animation-fill-mode: forwards;

}

@keyframes gameStart {
    0%{left: 10vw;
    bottom:50%}
    100%{left: 50%;
    bottom: 50%;}    
}

@keyframes backToBottom {
    0% {left:50%;
        bottom:50%;
    }
    100%{ 
        left:50%;
        bottom:0px;
    }    
}

.diag {
    background-color: black;
    border: 1px solid white;
    padding: 10px;
    margin: 0px;
    border-radius: 10px;
    font-size: 2vh;
    display: none;
    position: absolute; 
    bottom: 0px;
    left: 50%;
    transform: translate(-50%,0%);
}

.space { 
    font-size: 10px;
    justify-self: right;
}


.mcLee {
    height: 80px;
    width: 80px;

}



.trash {
    height: 40px;
    width: 40px;
    background-color: transparent;
    position: absolute;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.bubble {
    height:10px;
    width:10px;
    border:1px solid white;
    border-radius: 50%;
    position: absolute;
    animation: 30s bubbles linear 0s 1 forwards;
    bottom: 0px;
    z-index: 0;
}

@keyframes bubbles {
    100% {top: 5vh;
    display: none}

    
}

.timer { 
    position: fixed;

    color: white;
    font-size: 20px;
    margin: 10px;
}

#grapple {
    background-color: rgb(52, 48, 48);
    color: white;
    border-right: 10px solid white;
    height: 4px;
    display: none;
    transform-origin: left center;
    position: fixed;
}

.score {
    color: white;
    position: fixed;
    margin:10px;
    top: 5px;
    right:10px;
    font-family: 'Pixelify Sans',monospace;
    z-index: 1;
}

/* RESTART DIV */
.restart {
    z-index: 1;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    height:50vh;
    width: 60vh;
    padding: 20px;
    background-color: black;
    display:none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius:5px;
    border:2px solid white;
}

.rBtn {
    height:30px;
    width: 80%;
    margin:20px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:5px;
    font-family: 'Pixelify Sans';
}
.rBtn:hover {
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    border: 2px solid red;
    border-radius:5px;
    color:red;
}

.message {
    color:White;
}

.emj { 
    font-size: 30px;
    background-color: transparent;
}